<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1zSNEHSpondTTWJEVsjiRq0UMGbWX8Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>164860087792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goat.AssistantAi</string>
	<key>PROJECT_ID</key>
	<string>ai-assistant-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-assistant-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164860087792:ios:ec5cb72f24282c36422135</string>
</dict>
</plist>